:root{
    --nav-color: #242526;
    --btn-color: #3a3b3c;
    --btnhov-color: #3a3b3c;
    --border-radius: 8px;
    --speed: 500ms;
    --nav-height: 60px;
    color: whitesmoke;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar{
    min-width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-color);
    display: flex;
    justify-content: flex-end;
}

.nav-right {
    display: flex;
}
.nav-right svg {
    fill: whitesmoke;
    height: 20px;
    width: 20px;
}

.nav-item {
    width: calc(var(--nav-height));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}
.nav-right .btn-iconed {
    height: calc(var(--nav-height)*0.7);
    width:calc(var(--nav-height)*0.7);
    background-color: var(--btn-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 500ms;
}

.nav-item > .btn-iconed:hover{
    filter: brightness(150%);
    cursor: pointer;
}

.dropdown{
    position: absolute;
    top: 58px;
    right: 10px;
    background-color: var(--nav-color);
    border-radius: var(--border-radius);
    width: 300px;
    border: 1px solid #5d5c5c;
    overflow: hidden;
    transition: height var(--speed);
}

.menu{
    width: 100%;
}

.drop-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 5px;
    transition: filter 300ms;
    background-color: inherit;
}
.drop-item > div:nth-child(2){
    padding-left: 8px;
}
.drop-item > div:nth-child(2){
    flex-grow: 2;
}
.drop-item > div:nth-child(3){
    float: right;
}


.drop-item:hover{
    background-color: #303131;
    filter: brightness(170%);
    cursor: pointer;
}



.menu-prime-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-prime-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-prime-exit {
    position: absolute;
}

.menu-prime-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-second-enter {
    transform: translateX(110%);
}

.menu-second-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-second-exit {
}

.menu-second-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}